*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.logo{

}
/* shared style */

.btn {
    list-style-type: none;
    background-color: #30B868;
    border: none;
    padding:12px 16px ;
    border-radius: 5px;
    font-size: 16px;
    font-weight: semibold;
    color: #FFFFFF;
    cursor: pointer;
}
.btn2{
    list-style-type: none;
    
    background-color: transparent;
    border: 2px solid white;
    padding:12px 16px ;
    border-radius: 5px;
    font-size: 16px;
    font-weight: semibold;
    color: #FFFFFF;
    cursor: pointer;
}


/* main style */
header{
    
    background-color: #FFFFFF;
    
      
}
nav{
    width: 71%;
    max-width: 1140px;
    margin:  0px auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
     /* border: 1px solid red; */
      background: url(../assets/hero-bg.png);
    /* background-position:0 65px; */
      background-repeat: no-repeat;
      background-size:cover;
      height: 700px;
      text-align: center;
padding: 120px 115px;
}
#banner .banner-content{
     /* max-width: 1600px; */
}
#banner .banner-content span{
     /* max-width: 1600px; */
     color: #30B868;
}
#banner h1{
    /* color: #FFFFFF; */
    /* margin: 115px 366px; */
    color: white;
    font-size: 84px;
    
}
#banner .banner-content p{
     /* max-width: 1600px; */
     color: white;
     font-size: 24px;
}
#banner .banner-content .banner-l{
 margin-bottom:32px;
}
#banner .banner-content .bh1{

}
#about {
 text-align: center;
 
}
.about-container{
    margin-top: 30px;
}
.about-container h2{
    font-size: 58px;
    margin-top: 30px;
    
}
.about-container p{
 font-size: 20px;
    margin-top: 30px;
    color:#627382;

}
#about .about-card {
    
    max-width:1360 px ;
    /* width: 300px; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* border: 2px solid red; */
    gap: 24px;
    padding: 0 120px ;
    margin-top: 44px;

}
#about .about-card .card-info {
    border-radius: 5px;
    /* border: 2px solid red; */
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.308);
}
.card-info img{
    background-color: #F95555;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-top: 70px;

}
.card-info h3{
    font-size: 24px;
    font-weight: bold;
    color: #001931;
    margin: 16px 0;
}
.card-info p{
     font-size: 16px;
     color: #627382;
     margin: 16px 0;

}
#solution{

    /* border: 1px solid red; */
    display: flex;
    margin: 120px;
    align-items: center;
    gap: 60px;

}
.solution-container img{

}
.solution-text{
    margin: auto 0;
}
.solution-text h3{
    font-size: 16px;
    color: #469165;
    margin-top: 102px;
}
.solution-text h2{
    font-size: 48px;   
    font-weight: bold;
    margin-top: 16px;
}
.solution-text p{
    font-size: 16px;   
    color: #627382;
    margin-top: 16px;
}
.solution-li {
    margin-top: 40px;
    
}

.solution-li li{
    display: flex;
    gap: 6px;
        text-decoration: none;
        list-style-type: none;
        font-size: 16px;
        margin-top: 16px;

}
#ready{
    background-color: #F7F6F2;
    margin: 0 120px;
    padding: 80px ;
    text-align: center;
    margin-top: 120px;
    border-radius: 12px;
}
.ready-container h2{
    /* margin-top: 80px; */
}
.ready-container p{
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
    
}
.ready-early button{
    margin-top: 16px;
    
}
.ready-early p{
    margin-top: 16px;
    font-size: 16px;
    color:#627382;
    
}
#footer{
     background-color: #001931;
    margin: 0 120px;
    padding: 80px ;
    
    margin-top: 120px;
    border-radius: 12px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer p, li{
    color: white;
}
.footer .social{
    display: flex;
    justify-content: space-around;
}
.small{
    text-align: center;
    margin-top: 80px;
    color:white;
}